# Configuración de Supabase para SomosDos Studio
SU_URL=https://yumoofwfcxujcdhelwjj.supabase.co
SU_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl1bW9vZndmY3h1amNkaGVsd2pqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc0MzY4OTMsImV4cCI6MjA5MzAxMjg5M30.H3s4bQnlUQiWWVIRKzH0Wzi72HjMepQqXRecKRmwdoY
